.page_controls{
    display:flex;
    flex-wrap:nowrap;
    width:50%;
     background:#f50057;
     border-radius:5px;
     height:50px;
     color:white;
     align-items:center;
     justify-content:space-evenly;
}


@media screen and (max-width: 600px) {
    .page_controls {
      width:100%;
    }
  }