.file_name{
    width:100%;
    text-overflow:  ellipsis;
    white-space: nowrap;
    overflow:hidden;
    padding:10px;
    background-color: #461d3c;
    cursor: pointer;
    border-radius: 10px;
  }